{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}TablesExtractorWebDemo - Upload{% endblock %}

{% block page_content %}
{{ wtf.quick_form(form, enctype="multipart/form-data") }}
{% if processing_result_data %}
<table>
    {% for page_image_str, tables_str in processing_result_data %}
    <tr>
        <td valign="top">
            <img src="data:image/jpeg;base64, {{ page_image_str }}" />
        </td>
        <td valign="top">
            {{ tables_str|safe }}
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}
{% endblock %}